.container {
  border: 2px solid red;
  border-radius: 5px;
  padding: 20px;
}

.title {
  font-size: 25px;
  color: red;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  color: blue;
  text-align: center;
}